#loading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#content {
  margin: 0 10%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.category-name {
  font-size: 2rem;
}

.phat-button {
  padding: 6px 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
}

.phat-button-2 {
  padding: 0 12px;
  background: transparent;
  cursor: pointer;
  border: none;
  border: #048 solid thin;
  font-size: 2rem;
}

.info-div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.info-div ul {
  padding-left: 5px;
  border-left: medium #048 solid;
}

.info-div ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  display: block;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
  border-bottom: none;
}

.info-div ul li:hover, .info-div ul li:focus {
  border-bottom: thick #048 solid;
}

.info-div ul .add-page {
  padding: 0 16px;
  font-size: 2rem;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.info-div ul .add-page:hover {
  outline: #048 thin solid;
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.window .title-bar {
  background-color: #048;
  color: white;
}

.window .title-bar .title {
  display: inline-block;
  font-size: 2.3em;
  margin-left: 10px;
  height: 100%;
}

.window .title-bar .close {
  float: right;
  border: none;
  background-color: lightgrey;
  color: black;
  font-size: 2.3em;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
}

.window .title-bar .close:hover {
  color: white;
  background-color: red;
}

.window .text-area {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60vw;
  height: 40vh;
  margin: 20vh 20vw;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.window .text-area p {
  font-size: 2.2em;
  margin: 10px 0;
}

@media screen and (max-height: 900px) {
  .window .text-area {
    height: 40vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

@media screen and (max-height: 660px) {
  .window .text-area {
    height: 69vh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-height: 400px) {
  .window .text-area {
    font-size: 0.5em;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.window .text-area form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 10%;
}

.window .text-area label {
  font-size: 1.2em;
  margin-top: 10px;
}

.window .text-area .group {
  padding-top: 10px;
  width: 100%;
}

.window .text-area input, .window .text-area select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 1.5em;
  margin-top: 10px;
  padding: 6px 12px;
  background: white;
  border: none;
  border-bottom: thick #048 solid;
}

.window .text-area input[type=file] {
  border: none;
}

.window .text-area input[type=submit] {
  background-color: #048;
  color: white;
  cursor: pointer;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.b {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

ul {
  margin: 5px;
  list-style-type: none;
}

@media only screen and (max-width: 1000px) {
  .split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h3 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: italic;
}

.write {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.write a {
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 10%;
  width: 74px;
  height: 74px;
  display: block;
}

.write a img {
  width: 64px;
  height: 64px;
  padding: 5px;
}

.write a:hover {
  background-color: lightgrey;
}

.save {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.save #save {
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 10%;
  width: 74px;
  height: 74px;
}

.save #save span img {
  padding-top: 4px;
  width: 64px;
  height: 64px;
}

.save #save:hover {
  background-color: lightgrey;
}

input, select, .song {
  font-size: 0.8em;
  border: none;
  width: calc(100% - 10%);
}

input.important, select.important, .song.important {
  font-size: 1.0em;
}
/*# sourceMappingURL=styles.css.map */